<h2 style="text-align: center;">Top Carreras</h2>
<table class="table" style="border: 1px solid;">
    <tbody>
        <tr *ngFor="let carrera of listaTopCarreras; let i = index">
            <th scope="row">{{ i + 1 + numeroUltimaIteracion}}</th>
            <td>
                <a style="text-decoration: none; color: black; font-weight: bold;"
                    [routerLink]="['/detalle', carrera.id]">{{ carrera.nombre }}</a>
            </td>
            <td style="text-align: center;">
                <input type="submit" value="Ver universidad" (click)="buscarUniversdiadPorIdCarrera(carrera, i)"
                    style="background-color: white; border: none;">
                <div *ngIf="universidad && indice==i">
                    <a [routerLink]="['/detalle', universidad.id]">{{ universidad.nombre }}</a>
                </div>
            </td>
            <td>
                <p *ngIf="carrera.listaCalificacion && carrera.listaCalificacion.length > 0">
                    <app-promedio-calificacion
                        [listaCalificacion]="carrera.listaCalificacion"></app-promedio-calificacion>
                </p>
            </td>
        </tr>
    </tbody>
    <input type="submit" style="background-color: white; border: none;" value="Siguiente" (click)="cargarMasCarreras(this.listaTopCarreras.length)"
        [disabled]="listaTopCarreras.length < registrosPorPagina">
    <input type="submit" style="background-color: white; border: none;" value="Anterior" (click)="cargarMenosCarrereas()"
        [disabled]="pagina == 0">
</table>