<div class="titulo">
    <h1>{{ universidad.nombre }}</h1>
</div>

<div class="cabezera-descripcion">
    <div class="contenedor-imagen ">
        <img src="{{ universidad.imagen }}" alt="" />
    </div>
    <div>
        <div style="text-align: center; margin-bottom: 10px;">
            <p>Puntuar:</p>
            <app-puntuacion (calificacionGuardada)="handleCalificacionGuardada($event)"></app-puntuacion>
        </div>
        <p *ngIf="universidad.listaCalificacion && universidad.listaCalificacion.length > 0">
            <span style="margin: auto">
                <app-promedio-calificacion [listaCalificacion]="universidad.listaCalificacion"></app-promedio-calificacion>
            </span>
        </p>

        <!-- <div style="display: flex; justify-content: center;">
            <input type="submit" value="Eliminar universidad" class="btn btn-danger" (click)="eliminarUniversidad(universidad.id) " id="" style="width: 200px;">
        </div> -->
    </div>
</div>

<div class="container descripcion-universidad">
    <p>{{ universidad.descripcion }}</p>
</div>

<div class="contenedor-global container">
    <div class="contenedor-cabecera container">
        <div class="contenedor-descripcion">
            <div>
                <h2>Datos basicos</h2>
            </div>
            <div>
                <p>
                    Sitio web:
                    <a href="{{ universidad.direccionWeb }}">{{ universidad.direccionWeb }}</a>
                </p>
                <p>Dirección: {{ universidad.direccion }}</p>
            </div>
            <div class="col-md-6" style="margin: auto;">
                <label for="selectCarrera" class="form-label">Lista de carreras</label>
                <select id="selectCarrera" class="form-select" (change)="mostrarDatosCarrera($event)">
                    <option value="Lista de carreras" disabled selected>Carreras</option>
                    <option *ngFor="let carrera of listaCarreras" [value]="carrera.id">{{carrera.nombre}}
                    </option>
                </select>
            </div>
        </div>
    </div>
    <app-carrera *ngIf="mostrarCarreraComponent " [carrera]="carreraDeCarreraComponent"></app-carrera>

    <div *ngIf="!mostrarCarreraComponent">

        <app-comentario *ngIf="universidad.listaComentarios && variableDeEjemplo " [Universidad]="universidad"></app-comentario>

        <div class="agregarComentario container" id="agregarComentario">
            <div class="cabecera">
                <h2>Deja un comentario</h2>
                <p>Conectado como.....</p>
            </div>
            <div class="contenedorMensaje col-12">
                <textarea id="texto_area" name="comentario" rows="8" cols="50" class="form-control" [(ngModel)]="nuevoComentario" placeholder="Escribe aquí..."></textarea>
            </div>
            <input type="submit" class="btn btn-primary" value="Enviar comentario" (click)="agregarNuevoComentario(nuevoComentario)" />
        </div>
    </div>
</div>