<app-carrusel></app-carrusel>

<app-barra-de-busqueda></app-barra-de-busqueda>

<div class="container contenedor-universidades">
  <div class="card" style="width: 18rem; margin-bottom: 20px;" *ngFor="let universidad of universidades">
    <div class="imagen">
      <img src="{{universidad.imagen}}" class="card-img-top" alt="...">
    </div>
    <div class="card-body">
      <h5 class="card-title">{{universidad.nombre}}</h5>
      <p class="card-text">{{universidad.descripcion}}</p>
      <a class="card-text" href="{{universidad.direccionWeb}}">{{universidad.direccionWeb}}</a>
      <p class="card-text">{{universidad.direccion}}</p>

      <p *ngIf="universidad.listaCalificacion && universidad.listaCalificacion.length > 0">

        <span style="margin: auto;">
          <!-- Envio la lista de calificaciones por cada universidad -->
          <app-promedio-calificacion [listaCalificacion]="universidad.listaCalificacion"></app-promedio-calificacion>
        </span>
      </p>


      <a [routerLink]="['/detalle', universidad.id]" class="btn btn-primary">Ver</a>
      <a [routerLink]="['/agregarInstitucion', universidad.id]" class="btn btn-primary">Editar</a>
    </div>
  </div>
</div>

<div style="width: 100%;  display: flex; justify-content: center;">
  <div class="pagination">
    <div>
      <ul style="display: flex; list-style: none; ">
        <li class="page-item" [class.disabled]="paginaActual === 0">
          <a class="page-link" (click)="cambiarPagina(paginaActual - 1)" aria-label="Anterior">
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        <li class="page-item">
          <a class="page-link" (click)="cambiarPagina(0)">
            1</a>
        </li>

        <li class="page-item">
          <a class="page-link">
            {{paginaActual + 1}}</a>
        </li>

        <li class="page-item">
          <a class="page-link" (click)="cambiarPagina(cantidadPaginas - 1 )">
            {{cantidadPaginas }}</a>
        </li>

        <li class="page-item" [class.disabled]="paginaActual + 1 ===  cantidadPaginas  ">
          <a class="page-link" (click)="cambiarPagina(paginaActual + 1)" aria-label="Siguiente">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>

<div style="display: flex; justify-content: center;">
  <app-top-universidades></app-top-universidades>
  <app-top-carreras></app-top-carreras>
</div>


<app-footer></app-footer>